@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Saira+Condensed:wght@100&display=swap');
body {
  margin: 0;
  padding: 0;
  background-color: #363645;
  overflow:visible;
  font-family: 'Roboto', sans-serif;
}

.cursor {
    width: 10px;
    height: 10px;
    top: 8px;
    left: 8px;
    border: 1px solid grey;
    border-radius: 50%;
    position: absolute;
    /* background-color: none; */
    transition-timing-function: ease-out;
    /* animation: cursorAnim .5s infinite alternate; */
    pointer-events: none;
}

p {
  color: #849ca1;
  font-size: 20px;
}

/* .cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 .5s infinite alternate;
} */

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}


.release {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid red;
}


.header {
  padding-bottom: 5%;
}

.glow {
  color: #b0f1ff;
  box-shadow: 0 0 0 #b0f1ff;
  text-shadow: 0 0 5px #b0f1ff;
}

.drawingDiv {
  padding-top: 5%;
  flex-direction: column;
  height: 100%;
  width: auto;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  resize: none;
  overflow: auto;
  cursor: none;
}

.contentDiv {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  flex-direction: column;
}


#canvas1, #canvas3 {
  /* background-image: url("/Style/ImgFiles/cnvs1and3.png"); */
  display: flex;
}

#canvas2 {
  background-image: url("/Style/ImgFiles/cnvs2.png");
}

#canvas1, #canvas2, #canvas3 {
  align-self: center;
  background-repeat: round;
  flex-basis: 25%;
  width: 500px;
  height: auto;
}


a {
  padding: 10px;
  text-decoration: none;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: none;
  font-size: 20px;
  color: #b0f1ff;
  transition: .5s;
}

a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  transition: .5s;
  z-index: -1;
}

a:hover {
  color: #fffde0;
  text-shadow: 0 0 5px #ffee10;
}

.tools {
  display: flex;
  flex-direction: column;
}

.pencil {
  background-image: url("/Style/ImgFiles/eraserIcon.png");
}
