@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Saira+Condensed:wght@100&display=swap');


body {
  margin: 0;
  padding: 0;
  background-color: #363645;
  overflow:visible;
  font-family: 'Roboto', sans-serif;
}

.cursor {
    width: 5px;
    height: 5px;
    top: 5px;
    left: 5px;
    border: 1px solid grey;
    border-radius: 50%;
    position: absolute;
    /* background-color: none; */
    transition-timing-function: ease-out;
    /* animation: cursorAnim .5s infinite alternate; */
    pointer-events: none;
    z-index: 3;
}

p {
  color: #849ca1;
  font-size: 20px;
}

/* .cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 .5s infinite alternate;
} */

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.release {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid red;
}

h1 {
 text-align: center;
 padding: 50px 0% 50px 0%;
 -webkit-font-smoothing: antialiased;
}

.glow {
  color: #b0f1ff;
  box-shadow: 0 0 0 #b0f1ff;
  text-shadow: 0 0 5px #b0f1ff;
}

.outerFlex {
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  resize: none;
  z-index: 2;
}

.drawingDiv {
  position: absolute;
  flex-direction: column;
  height: auto;
  width: auto;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  resize: none;
  overflow: none;
  cursor: none;
  z-index: 2;
  flex: 0 1 auto;
}

.toolDiv {
  flex-direction: column;
  height: 100%;
  width: auto;
  min-width: inherit;
  align-items: left;
  display: flex;
  flex-wrap: wrap;
  overflow: none;
  cursor: none;
  width: 150px;
  /* flex: 0 2 auto; */
  resize: none;
  -webkit-transform:translate3D(0 50 40);
  padding-left: 600px;
  z-index: 1;
}

.contentDiv {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  flex-direction: column;
}


#canvas1, #canvas3 {
  background-image: url("/Style/ImgFiles/cnvs1and3.png");
}

#canvas2 {
  background-image: url("/Style/ImgFiles/cnvs2.png");
}

#canvas1, #canvas2, #canvas3 {
  display: flex;
  align-self: center;
  background-repeat: round;
  flex-basis: 25%;
  width: 500px;
  height: auto;
}


a {
  padding: 10px;
  text-decoration: none;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: none;
  font-size: 20px;
  color: #b0f1ff;
  transition: .5s;
}

a::before, button.submit:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  transition: 0.5s;
  z-index: -1;
}

a:hover, button.submit:hover {
  -webkit-transform:translate3d(0,0,0);
  color: #fffde0;
  text-shadow: 0 0 5px #ffee10;
  /* box-shadow: 0 0 1px #ffee10; */
}

button.pencil, button.eraser, button.reverse {
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  width: 150px;
  background-color: transparent;
  opacity: 50%;
  -webkit-filter: sepia(1.0) invert(.5) brightness(1.5);
  transition: 0.5s;
  margin-bottom: 25px;
}

button.pencil:hover, button.eraser:hover{
  text-shadow: 0 0 20px #ffee10;
  opacity: 100% !important;   /* adding important so this attribute wont be overwritten in JS */
  -webkit-filter: drop-shadow(0px 0px 5px #b0f1ff) !important;
  -webkit-transform:translate3d(5px,0,0);   /* this line of code fixes flickering due to the web browser and web filters  */
}

button.reverse:hover {
  text-shadow: 0 0 20px #ffee10;
  opacity: 100%;
  -webkit-filter: drop-shadow(0px 0px 5px #b0f1ff);
}

button.submit:hover {
  text-shadow: 0 0 20px #ffee10;
  opacity: 100%;
  -webkit-filter: drop-shadow(0px 0px 5px #b0f1ff);
}

button.pencil:focus, button.eraser:focus, button.reverse:focus, button.submit:focus {
  outline: none;
  opacity: 100%;
  -webkit-filter: drop-shadow(0px 0px 5px #b0f1ff);
}

button.pencil {
  background-image: url("/Style/ImgFiles/pencilIcon1.png");
}

button.eraser {
  background-image: url("/Style/ImgFiles/eraserIcon1.png");
}

button.reverse {
  background-image: url("/Style/ImgFiles/reverseIcon.png");
}

button.submit {
  background-color: grey;
  color: none;
  border-radius: 3px;
  border-width: thin;
  width: 70px;
  height: 30px;
  margin-left: 32px;
  border-style: none;
  transition: 0.5s;
}
